.detail-title {
	margin-bottom: -.1rem;
	font-weight: bold;
	border-bottom:1px solid $border;
}
.summary {
	max-height:300px;
	overflow: auto;
	margin: .5rem 0;
}
.summary-container {
	padding: .5rem;
	border:1px solid $border;
}
.show-image {
	-webkit-box-shadow: 4px 6px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 6px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 6px 20px 0px rgba(0,0,0,0.75);
}
