.detail-title {
	margin-bottom: -.1rem;
	font-weight: bold;
	border-bottom:1px solid $border;
}
.summary {
	max-height:300px;
	overflow: auto;
	margin: .5rem 0;
}
.summary-container {
	padding: .5rem;
	border:1px solid $border;
}
.show-image {
	-webkit-box-shadow: 4px 6px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 6px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 6px 20px 0px rgba(0,0,0,0.75);
}
.tv-item-detail {
	.ant-collapse-header {
		font-size: 16px;
		font-weight: bold;
	}
	.ant-collapse-content > .ant-collapse-content-box {
		padding-top: 0;
		padding-bottom: 0;
	}
	.ant-collapse-content {
		padding: 0 0;
	}

}

.group-box {

		margin-bottom: 5px;
		margin-right: 10px;
		padding: 5px;
		border: 1px solid $border;
		background-color: #f9fbfc;

		span {
			padding: 0 10px;
			font-weight: bold;
			font-size: 1.1em;
		}

	.ant-tag-checkable:hover {
    background-color: #20801a;
	}
	.ant-tag-checkable-checked:hover {
    background-color: red;
	}

}
