.detail-title {
	margin-bottom: -.1rem;
	font-weight: bold;
	border-bottom:1px solid $border;
}
.summary {
	max-height:300px;
	overflow: auto;
	margin: .5rem 0;
}
.summary-container {
	padding: .5rem;
	border:1px solid $border;
}
.show-image {
	-webkit-box-shadow: 4px 6px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 6px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 6px 20px 0px rgba(0,0,0,0.75);
}
.tv-item-detail {
	.ant-collapse-header {
		font-size: 16px;
		font-weight: bold;
	}
	.ant-collapse-content > .ant-collapse-content-box {
		padding-top: 0;
		padding-bottom: 0;
	}
	.ant-collapse-content {
		padding: 0 0;
	}
}

.badge-groups {

		margin-bottom: 5px;
		margin-right: 10px;
		padding: 5px;
		border: 1px solid black;
		background-color: #ccc;
	span {
	  background-color:green;
	  color:#fff;
	  display:inline-block;
	  padding-left:8px;
	  padding-right:8px;
	  text-align:center;
	  border-radius:50%;
	  box-shadow:0 0 1px #333;
	}

	.zero {
  	background-color: red;
	}
}
